@import 'flowbite';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
    padding:  17px 26px 16px 26px;
    border-radius: 14px;
    border: 1px solid rgba(137, 137, 137, 0.20);
    background: #F3F3F3;
    color: #898989;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    cursor: pointer;
}

.btn_success {
    background: #50B748 !important;
    color: white !important;
}
